$m: '.m-canvas';

#{$m} {
  width:40%;
  position:fixed;

  &.small{
    width:35%;

      @media (max-width:890px){
      position:static;
      width:100%;
    }
  }

  @media (max-width:890px){
    position:static;
    width:100%;
  }

  #{$m}__canvas{
    display:inline-block;
  }
  #{$m}__canvas canvas {
    background: #fff;
    max-width: 100% !important;
  }

  #{$m}__download a {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    @include transition (background-color ease-in-out 0.3s);

    &:hover {
      background: lighten($theme-color, 25);
    }
  }

  #{$m}__download-note {
    color: #777;
    font-size: 12px;
    font-style: italic;
  }
}
